@use "../../styles/globals" as *;

.controls {
  @include add_flex();
  margin-bottom: 1.2rem;
  width: 100%;

  &__counter {
    font-size: 1.6rem;
    span {
      font-weight: 400;
    }
  }

  &__btn {
    padding: 0.6rem 1rem;
    background-color: $main;
    color: #fff;
    border: none;
    margin: 0 0.3rem;
    border-radius: 10px;
    font-family: inherit;
    font-size: 1rem;
    transition: all ease-in 0.2s;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: $active;
    }
  }
}
